[submodule "juce_backend"]
	path = juce_backend
	url = https://github.com/bretbouchard/audio_agent_juce.git
	branch = main
[submodule "sdk"]
	path = sdk
	url = https://github.com/bretbouchard/schillinger-sdk.git
[submodule "swift_frontend"]
	path = swift_frontend
	url = https://github.com/bretbouchard/swift_frontend.git
	branch = main
[submodule "juce_backend/effects/biPhase"]
	path = juce_backend/effects/biPhase
	url = https://github.com/bretbouchard/biPhase.git
[submodule "juce_backend/effects/filtergate"]
	path = juce_backend/effects/filtergate
	url = https://github.com/bretbouchard/FilterGate.git
[submodule "juce_backend/effects/AetherDrive"]
	path = juce_backend/effects/AetherDrive
	url = https://github.com/bretbouchard/aether-drive.git
[submodule "juce_backend/effects/monument"]
	path = juce_backend/effects/monument
	url = https://github.com/bretbouchard/monument-phaser.git
[submodule "juce_backend/effects/farfaraway"]
	path = juce_backend/effects/farfaraway
	url = https://github.com/bretbouchard/far-far-away.git
[submodule "juce_backend/effects/dynamics"]
	path = juce_backend/effects/dynamics
	url = https://github.com/bretbouchard/white-room-dynamics.git
[submodule "juce_backend/instruments/kane_marco"]
	path = juce_backend/instruments/kane_marco
	url = https://github.com/bretbouchard/kane-marco-aether.git
[submodule "juce_backend/instruments/giant_instruments"]
	path = juce_backend/instruments/giant_instruments
	url = https://github.com/bretbouchard/aether-giant-instruments.git
[submodule "juce_backend/instruments/drummachine"]
	path = juce_backend/instruments/drummachine
	url = https://github.com/bretbouchard/white-room-drum-machine.git
[submodule "juce_backend/instruments/Nex_synth"]
	path = juce_backend/instruments/Nex_synth
	url = https://github.com/bretbouchard/white-room-nex-synth.git
[submodule "juce_backend/instruments/Sam_sampler"]
	path = juce_backend/instruments/Sam_sampler
	url = https://github.com/bretbouchard/white-room-sam-sampler.git
[submodule "juce_backend/effects/overdrive_pedal"]
	path = juce_backend/effects/overdrive_pedal
	url = https://github.com/bretbouchard/white-room-overdrive-pedal.git
[submodule "juce_backend/effects/chorus_pedal"]
	path = juce_backend/effects/chorus_pedal
	url = https://github.com/bretbouchard/chorus_pedal.git
[submodule "juce_backend/effects/delay_pedal"]
	path = juce_backend/effects/delay_pedal
	url = https://github.com/bretbouchard/white-room-delay.git
[submodule "juce_backend/effects/reverb_pedal"]
	path = juce_backend/effects/reverb_pedal
	url = https://github.com/bretbouchard/white-room-reverb.git
[submodule "juce_backend/effects/flanger_pedal"]
	path = juce_backend/effects/flanger_pedal
	url = https://github.com/bretbouchard/white-room-flanger.git
[submodule "juce_backend/effects/tremolo_pedal"]
	path = juce_backend/effects/tremolo_pedal
	url = https://github.com/bretbouchard/white-room-tremolo.git
[submodule "juce_backend/effects/compressor_pedal"]
	path = juce_backend/effects/compressor_pedal
	url = https://github.com/bretbouchard/white-room-compressor.git
[submodule "juce_backend/effects/eq_pedal"]
	path = juce_backend/effects/eq_pedal
	url = https://github.com/bretbouchard/white-room-eq.git
[submodule "juce_backend/effects/filter_pedal"]
	path = juce_backend/effects/filter_pedal
	url = https://github.com/bretbouchard/white-room-filter.git
[submodule "juce_backend/effects/distortion_pedal"]
	path = juce_backend/effects/distortion_pedal
	url = https://github.com/bretbouchard/white-room-distortion.git
[submodule "juce_backend/effects/classic_distortion_pedal"]
	path = juce_backend/effects/classic_distortion_pedal
	url = https://github.com/bretbouchard/white-room-classic_distortion.git
[submodule "juce_backend/effects/modern_distortion_pedal"]
	path = juce_backend/effects/modern_distortion_pedal
	url = https://github.com/bretbouchard/white-room-modern_distortion.git
[submodule "juce_backend/effects/fuzz_pedal"]
	path = juce_backend/effects/fuzz_pedal
	url = https://github.com/bretbouchard/white-room-fuzz.git
[submodule "juce_backend/effects/octave_pedal"]
	path = juce_backend/effects/octave_pedal
	url = https://github.com/bretbouchard/white-room-octave.git
[submodule "juce_backend/effects/volume_pedal"]
	path = juce_backend/effects/volume_pedal
	url = https://github.com/bretbouchard/white-room-volume.git
[submodule "juce_backend/effects/pedals"]
	path = juce_backend/effects/pedals
	url = https://github.com/bretbouchard/white-room-pedals-framework.git
[submodule "juce_backend/instruments/localgal"]
	path = juce_backend/instruments/localgal
	url = https://github.com/bretbouchard/local-galaxy-instrument.git
[submodule "juce_backend/instruments/choral"]
	path = juce_backend/instruments/choral
	url = https://github.com/bretbouchard/choral_instrument.git
