[submodule "juce_backend"]
	path = juce_backend
	url = https://github.com/bretbouchard/audio_agent_juce.git
	branch = main
[submodule "sdk"]
	path = sdk
	url = https://github.com/bretbouchard/schillinger-sdk.git
[submodule "swift_frontend"]
	path = swift_frontend
	url = https://github.com/bretbouchard/swift_frontend.git
	branch = main
[submodule "juce_backend/effects/biPhase"]
	path = juce_backend/effects/biPhase
	url = https://github.com/bretbouchard/biPhase.git
[submodule "juce_backend/effects/filtergate"]
	path = juce_backend/effects/filtergate
	url = https://github.com/bretbouchard/FilterGate.git
[submodule "juce_backend/effects/AetherDrive"]
	path = juce_backend/effects/AetherDrive
	url = https://github.com/bretbouchard/aether-drive.git
[submodule "juce_backend/effects/monument"]
	path = juce_backend/effects/monument
	url = https://github.com/bretbouchard/monument-phaser.git
[submodule "juce_backend/effects/farfaraway"]
	path = juce_backend/effects/farfaraway
	url = https://github.com/bretbouchard/far-far-away.git
[submodule "juce_backend/effects/dynamics"]
	path = juce_backend/effects/dynamics
	url = https://github.com/bretbouchard/white-room-dynamics.git
[submodule "juce_backend/instruments/kane_marco"]
	path = juce_backend/instruments/kane_marco
	url = https://github.com/bretbouchard/kane-marco-aether.git
[submodule "juce_backend/instruments/giant_instruments"]
	path = juce_backend/instruments/giant_instruments
	url = https://github.com/bretbouchard/aether-giant-instruments.git
[submodule "juce_backend/instruments/drummachine"]
	path = juce_backend/instruments/drummachine
	url = https://github.com/bretbouchard/white-room-drum-machine.git
[submodule "juce_backend/instruments/Nex_synth"]
	path = juce_backend/instruments/Nex_synth
	url = https://github.com/bretbouchard/white-room-nex-synth.git
[submodule "juce_backend/instruments/Sam_sampler"]
	path = juce_backend/instruments/Sam_sampler
	url = https://github.com/bretbouchard/white-room-sam-sampler.git
[submodule "juce_backend/effects/overdrive_pedal"]
	path = juce_backend/effects/overdrive_pedal
	url = https://github.com/bretbouchard/white-room-overdrive-pedal.git
[submodule "juce_backend/effects/chorus_pedal"]
	path = juce_backend/effects/chorus_pedal
	url = https://github.com/bretbouchard/chorus_pedal.git
[submodule "juce_backend/effects/pedals"]
	path = juce_backend/effects/pedals
	url = https://github.com/bretbouchard/white-room-pedals-framework.git
[submodule "juce_backend/instruments/localgal"]
	path = juce_backend/instruments/localgal
	url = https://github.com/bretbouchard/local-galaxy-instrument.git
[submodule "juce_backend/instruments/choral"]
	path = juce_backend/instruments/choral
	url = https://github.com/bretbouchard/choral_instrument.git
