<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>NexSynth</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>NSExtension</key>
    <dict>
        <key>NSExtensionPointIdentifier</key>
        <string>com.apple.AudioUnit</string>
        <key>NSExtensionActivationRule</key>
        <string>TRUEPREDICATE</string>
        <key>NSExtensionPrincipalClass</key>
        <string>AUAudioUnitFactory</string>
        <key>NSExtensionAttributes</key>
        <dict>
            <key>AudioComponents</key>
            <array>
                <dict>
                    <key>description</key>
                    <string>NexSynth FM Synthesizer</string>
                    <key>factoryFunction</key>
                    <string>AUAudioUnitFactory</string>
                    <key>manufacturer</key>
                    <string>WHRM</string>
                    <key>name</key>
                    <string>White Room: NexSynth</string>
                    <key>sandboxSafe</key>
                    <true/>
                    <key>subtype</key>
                    <string>nexs</string>
                    <key>type</key>
                    <string>aumu</string>
                    <key>version</key>
                    <integer>1</integer>
                </dict>
            </array>
        </dict>
    </dict>
</dict>
</plist>
